@import "theme-zen-dark.css";

:root {
    --CODE-theme: zen-dark;
    --MENU-HEADER-BG-color: #003366; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #003366; /* Color of menu header border */
}

.content h1 {
    color: rgb(173, 216, 230); /* Light blue color */
}

.footerFooter {
    font-size: .8125rem;
    padding-top: 2rem;
    padding-bottom: .75rem;
    padding-left: .75rem;
    text-align: left;
}
